.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 13px;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0 0 10px #add8f5ff;
}

.controls input {
  background-color: rgb(16, 38, 53, 0.8);
  padding: 10px;
  box-shadow: 0 0 5px #add8f5ff;
  border: 1px solid #1daad5;
  border-radius: 5px;
}

.filter-select {
  padding: 10px;
  color: #032343;
  background-color: #add8f5ff;
  border: 1px solid #1daad5;
  box-shadow: 0 0 5px #add8f5ff;
  border-radius: 4px;
  font-size: 16px;
}

.view-section {
  padding: 10px;
  padding-bottom: 20px;
}

.student-form {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
  padding: 20px;
}

.student-form input {
  background-color: rgb(16, 38, 53, 0.8);
  padding: 10px;
  box-shadow: 0 0 5px #add8f5ff;
  border: 1px solid #1daad5;
  border-radius: 5px;
}

.student-form select {
  padding: 10px;
  color: #032343;
  background-color: #add8f5ff;
  border: 1px solid #1daad5;
  box-shadow: 0 0 5px #add8f5ff;
  border-radius: 4px;
  font-size: 16px;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
  /* thickness of side bar */
}

/* track (background) */
.table-wrapper::-webkit-scrollbar-track {
  background: #111827;
  /* dark background */
}

/* thumb (draggable part) */
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* gray thumb */
  border-radius: 999px;
  /* fully rounded */
  border: 2px solid #111827;
  /* space around thumb */
}

/* thumb on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.table-wrapper {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  background-color: #032343;
}

.grades-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.grades-table th,
.grades-table td {
  padding: 12px;
  text-align: left;
}

.grades-table th {
  font-weight: bold;
}

.remarks-pass {
  color: #28a745;
  font-weight: bold;
}

.remarks-fail {
  color: #dc3545;
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.search-input,
.filter-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}